<article class="listing">
  <a
    onclick={{action "toggleImageSize"}}
    class="image {{if this.isWide "wide"}}"
    role="button"
  >
        <img src={{this.project.image}} alt="">
    <small>View Larger</small>
  </a>
  <div class="details">
    <h3>{{this.project.title}}</h3>
    <div class="detail owner">
      <span>Module:</span> {{this.project.module}}
    </div>
    <div class="detail type">
      <span>Lecturer:</span> {{this.project.lecturer}}
    </div>
    <div class="detail location">
      <span>Grade:</span> {{this.project.grade}}
    </div>
    <div class="detail bedrooms">
      <span>Language:</span> {{this.project.language}}
    </div>
  </div>
</article>